<div class="register-wrapper">
    <mat-card>
      <mat-card-title class="title">Register</mat-card-title>
      <mat-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="handleRegister()" class="register-form">
          
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="firstName" required />
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Middle Name</mat-label>
            <input matInput type="text" formControlName="middleName" />
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="lastName" required />
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Date of Birth</mat-label>
            <input matInput type="date" formControlName="dob" (change)="calculateAge()" required />
          </mat-form-field>
  

          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Age</mat-label>
            <input matInput type="text" formControlName="age" readonly />
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option value="" disabled>Select Gender</mat-option>
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="address" required></textarea>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Mobile Number</mat-label>
            <input matInput type="tel" formControlName="mobileNumber" required />
            <mat-error *ngIf="registerForm.get('mobileNumber')?.invalid && registerForm.get('mobileNumber')?.touched">
              Mobile number must be 10 digits.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required />
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
              Password must be at least 8 characters with 1 letter, 1 number, and 1 special character.
            </mat-error>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Register</button>
  
        </form>
  
        <p>Already have an account? 
          <button mat-button color="accent" (click)="goToLogin()">Login</button>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  