<div class="login-wrapper">
    <mat-card>
      <mat-card-title class="title">Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="handleLogin()" class="login-form">
  
          <!-- Email Field yahan par-->
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required />
            <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
              Valid email required
            </mat-error>
          </mat-form-field>
  
          <!-- Password Field yahan par-->
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Password</mat-label>
            <input matInput [type]="passwordVisible ? 'text' : 'password'" formControlName="password" required />
          <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
            <mat-icon>{{ passwordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
            <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
              Password must be at least 8 characters
            </mat-error>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
            Login
          </button>
        </form>
  
        <p>Don't have an account? 
          <button mat-button color="accent" (click)="goToRegister()">Register</button>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  