.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(213, 223, 231);
}

mat-card {
  padding: 20px;
  background: #a4cee6;
  border-radius: 10px;
  text-align: center;
  width: 500px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #37474f;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
