.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* width: 100vw; */
    /* background-color: rgb(213, 223, 231); */
  }
  
  .reset-box {
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
  }
  
  .input-field {
    width: 100%;
    margin-bottom: 22px;
  }
  
  button {
    width: 100%;
  }
  
  mat-error {
    font-size: 12px;
  }

  .error-text {
    color: red;
    font-size: 12px;
    margin-top: 2px;
  }

  .mat-mdc-card-title, .mat-mdc-card-subtitle {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'boxicons';
    font-weight: bold;
    margin-bottom: 10px;
}
  
  